<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Smatch Inc.</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="Landlr" name="description">
        <meta content="playlab" name="author">
         
        <!-- Bootstrap  -->
        <%= stylesheet_link_tag "bootstrap" %>
       
        <!-- Font Awesome  -->
        <%= stylesheet_link_tag "font-awesome.min" %>
        <!-- Revolution Responsive jQuery Slider -->
        <%= stylesheet_link_tag "settings" %>
        <!-- Landlr Style -->
        <%= stylesheet_link_tag "colors" %>
        <%= stylesheet_link_tag "style" %>
        <%= stylesheet_link_tag "responsive" %>
        <%= stylesheet_link_tag "sign-up" %>
        
        <!-- Favicon and touch icons  -->

        
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
      	<script src="js/html5shiv.js"></script>
    	<![endif]-->
    </head>
    <body class="page-emerald">
		
		<!-- Navigation -->
		<header>
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="brand" href="#">
							<%= image_tag("smatch5.png", width: '200', style: 'margin-left:80px; margin-top:-8px;') %>
						</a>
						<div class="nav-collapse collapse">
							<ul class="nav pull-right">
								<li><a href="#row1">Inicio</a></li>
								<li><a href="#row2">¿Qué es Smatch?</a></li>
								<li><a href="#row3">Características</a></li>
								<li><a href="#row6">Integrantes</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div><!-- .navbar -->
		</header>
		
		<!-- Home -->
		<section class="wrapper home">
			<a class="anchor" id="row1"></a>
			<div class="container">
				<div class="row">
					<div class="span12 text-center eslogan">
						<hgroup class="main-title white">
							<h2>Busca, Organiza y Juega con Smatch</h2>
							<h3>Crea tu evento y busca tu recinto deportivo preferido.</h3>
						</hgroup>
						<a class="btn btn-large btn-tomato uppercase"  data-toggle="modal" data-target="#myModal">Suscribete</a>
						<!--<%= link_to "Suscríbete", player_omniauth_authorize_path(:facebook), class: "btn btn-large btn-tomato uppercase" %>-->
					</div>
				</div>
			</div>
		</section>
		
		<!-- Project -->
		<section class="mini-wrapper bg-turquoise colored">
			<a class="anchor" id="row2"></a>
			<div class="container">
				<div class="row">
					<div class="span12 text-center">
						<hgroup>
							<h2>¿Por qué Smatch?</h2>
							<h3>Con cada paso que damos, buscamos motivarte a ti y a tus amigos a realizar el deporte que más disfrutan. Queremos que esa reunión de amistad y competitividad sea siempre posible, sin bajas, sin decepciones y de la manera más sencilla. Nos mueve aquella sonrisa que dejas en la cancha luego de cada fantástica jornada y la satisfacción de promover tu salud.</h3>
							<!-- Button trigger modal -->


						</hgroup>
					</div>
					
				</div>
				
				<!-- Slider 
				<div class="bannercontainer row">
					<div class="banner span12" >
						<ul>
						
							
							<li data-transition="fade, papercut" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
							 
							</li>	
							
						
							<li data-transition="fade, papercut" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
							    
							</li>
							
							
							<li data-transition="fade, papercut" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
							
							</li>								
						</ul>		
						<div class="tp-bannertimer tp-bottom"></div> 
					</div>
				</div>
				-->	
			</div>
		</section>
				<!-- Project -->
		<section class="mini-wrapper bg-white colored">
			<a class="anchor" id="row2"></a>
			<div class="container">
				<div class="row">
					<div class="span12 text-center">
						<hgroup>
							<h2>¿Cómo lo haremos?</h2>
							<h3>Mediante una aplicación web, donde podrás compartir con todos tus amigos, organizar eventos deportivos, invitar a todos aquellos con quienes disfrutas y jugar de la forma más cómoda en tu lugar preferido.</h3>
							<!-- Button trigger modal -->


						</hgroup>
					</div>
					
				</div>
				
				<!-- Slider 
				<div class="bannercontainer row">
					<div class="banner span12" >
						<ul>
						
							
							<li data-transition="fade, papercut" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
							 
							</li>	
							
						
							<li data-transition="fade, papercut" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
							    
							</li>
							
							
							<li data-transition="fade, papercut" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
							
							</li>								
						</ul>		
						<div class="tp-bannertimer tp-bottom"></div> 
					</div>
				</div>
				-->	
			</div>
		</section>
				<!-- Project -->
		<section class="mini-wrapper bg-turquoise colored">
			<a class="anchor" id="row2"></a>
			<div class="container">
				<div class="row">
					<div class="span12 text-center">
						<hgroup>
							<h2>¿Qué es?</h2>
							<h3>Esto es Smatch, la nueva iniciativa social-deportiva más ambiciosa, que te entregará el servicio que siempre quisiste para llevar a cabo tus mejores jugadas con tus mejores amigos y superarte cada día.</h3>
							<!-- Button trigger modal -->


						</hgroup>
					</div>
					
				</div>
				
				<!-- Slider 
				<div class="bannercontainer row">
					<div class="banner span12" >
						<ul>
						
							
							<li data-transition="fade, papercut" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
							 
							</li>	
							
						
							<li data-transition="fade, papercut" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
							    
							</li>
							
							
							<li data-transition="fade, papercut" data-slotamount="10" data-masterspeed="300" data-slideindex="back">
							
							</li>								
						</ul>		
						<div class="tp-bannertimer tp-bottom"></div> 
					</div>
				</div>
				-->	
			</div>
		</section>
		
		<!-- Features -->
		<section class="wrapper bg-white">
			<a class="anchor" id="row3"></a>
			<div class="container">
				<div class="row">
					<div class="span12 text-center mar-b30">
						<hgroup>
							<h2>Características de Smatch</h2>
							<h3>Busca, Organiza y Juega en un solo sitio.</h3>
						</hgroup>
					</div>
				</div>
				<div class="row">
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-laptop icon-4x"></i>
							</div>
							<div class="span9">
								<h4>Organiza tu evento deportivo</h4>
								<p>¡Invita a tus amigos, busca tu recinto preferido, elige los roles de cada jugador y ya estas casi listo!<p>
								
							</div>
						</div>
					</div>
					
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-star icon-4x"></i>
							</div>
							<div class="span9">
								<h4>Busca eventos deportivos</h4>
								<p>¡Si quieres jugar con nuevas personas, únete a un evento abierto!. Los demás jugadores estarán encantados de jugar contigo.</p>
							</div>
						</div>
					</div>
					
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-money icon-4x"></i>
							</div>
							<div class="span9">
								<h4>Cotiza recintos de deportes.</h4>
								<p>Utiliza el buscador de recintos para ver los más cercanos o tus lugares preferidos, además de sus precios y recomendaciones, así estarás seguro al momento de cancelar y empezar a disfrutar del juego.<p>
							</div>
						</div>
					</div>
					
					<div class="span6">
						<div class="row-fluid">
							<div class="span2">
								<i class="icon-search icon-4x"></i>
							</div>
							<div class="span9">
								<h4>Busca personas que deseen jugar contigo.</h4>
								<p>¡Deja tu evento abierto si necesitas jugadores y rápidamente estarás recibiendo solicitudes de personas que quieran jugar contigo!, así conocerás nuevas personas y posibles amigos.<p>
							</div>
						</div>
					</div>
					

					
				</div>
			</div>
		</section>				
		
		<!-- Testimonials -->
		<section class="wrapper bg-turquoise colored">
			<a class="anchor" id="row6"></a>
			<div class="container">
				<div class="row">
					<div class="span12 text-center">
						<hgroup>
							<h2>Team de Smatch</h2>
						
						</hgroup>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<div id="testimonial-slider" class="carousel slide mar-t30">
							<ul class="carousel-indicators text-center row-fluid">
								<li data-target="#testimonial-slider" data-slide-to="0" class="span4">
									<div class="thumbnail  bordered full-rounded"><%= image_tag("team/diego.png", :class => "img-circle foto") %></div>
									<div class="desc">
										<p><strong>Diego Reyes</strong><br />
										Senior UX Designer</p>
									</div>
									<div class="arrow"></div>
								</li>
								<li data-target="#testimonial-slider" data-slide-to="1" class="span4">
									<div class="thumbnail  bordered full-rounded"><%= image_tag("team/cristian.png", :class => "img-circle foto") %></div>
									<div class="desc">
										<p><strong>Cristian Valles</strong><br />
										CEO</p>
									</div>
									<div class="arrow"></div>
								</li>
								<li data-target="#testimonial-slider" data-slide-to="2" class="span4">
									<div class="thumbnail bordered full-rounded"><%= image_tag("team/fabian.jpg", :class => "img-circle foto") %></div>
									<div class="desc">
										<p><strong>Fabián Viani</strong><br />
										General Manager</p>
									</div>
									<div class="arrow"></div>
								</li>
								<li data-target="#testimonial-slider" data-slide-to="3" class="span4 offset2">
									<div class="thumbnail bordered full-rounded"><%= image_tag("team/rodrigo.jpg", :class => "img-circle foto") %></div>
									<div class="desc">
										<p><strong>Rodrigo Naranjo</strong><br />
										Back-end Developer</p>
									</div>
									<div class="arrow"></div>
								</li>
								<li data-target="#testimonial-slider" data-slide-to="3" class="span4">
									<div class="thumbnail bordered full-rounded"><%= image_tag("team/franz.jpg", :class => "img-circle foto") %></div>
									<div class="desc">
										<p><strong>Franz Wompner</strong><br />
										Back-end Developer</p>
									</div>
									<div class="arrow"></div>
								</li>

							</ul>
							
						</div>
					</div>
				</div>	
			</div>
		</section>		
		
		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="span10 pull-right">
						<ul class="unstyled inline text-right footer-nav">
								<li><a href="#row1">Inicio</a></li>
								<li><a href="#row2">¿Qué es Smatch?</a></li>
								<li><a href="#row3">Características</a></li>
								<li><a href="#row6">Integrantes</a></li>
							</ul>
					</div>
					<div class="span2 pull-left copyright">
						Smatch - Copyright 2014
					</div>
				</div>
			</div>		
		</footer>		
		<!-- Modal -->
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        
	      </div>
	   
	        <div id="sign_up1">
        	<div class="container">
            <div class="row">
                <div class="span12 header">
                    <h4>Suscribete con Facebook ó por E-mail</h4>
                    <div class="span4 social">
												<%= link_to "<img src='/images/face.png' alt=''>".html_safe, player_omniauth_authorize_path(:facebook), class: "circle facebook" %>
                        <!--<a href="#" class="circle facebook">
                            <img src="images/face.png" alt="">
                        </a>-->
                        <!-- <a href="#" class="circle twitter">
                            <img src="images/twt.png" alt="">
                        </a>
                         <a href="#" class="circle gplus">
                            <img src="images/gplus.png" alt=""> -->
                        </a>
                    </div>
                </div>

                <div class="span3 division">
                    <div class="line l"></div>
                    <span> ó </span>
                    <div class="line r"></div>
                </div>

                <div class="span6 offset4  offset-form footer">
								    <%= form_tag(player_registration_path) do %>
												<%= email_field_tag(:"player[email]", nil, placeholder: "Email",:class => "form-control") %> <br><br>
												<%= password_field_tag(:"player[password]", nil, placeholder: "Contraseña") %> <br><br>
												<%= password_field_tag(:"player[password_confirmation]", nil, placeholder: "Confirmar contraseña") %> <br><br>												<%= submit_tag("Registrar") %>
								    <% end %>

                    <!--<form>
                        <input type="text" placeholder="Email">
                        <input type="password" placeholder="Contraseña">
                        <input type="password" placeholder="Confirma Contraseña">
                        <input type="submit" placeholder="Confirm Password" value="Registrar">
                    </form>-->
                </div>

                <!-- <div class="span5 remember">
                    <label class="checkbox">
                        <input type="checkbox"> Remember me
                    </label>
                    <a href="#">Forgot password?</a>
                </div> -->
            </div>
        
    </div>
	      </div>
	      
	    </div>
	  </div>
	</div>
		         
	    <!-- Javascript  -->
	    <%= javascript_include_tag "jquery.js" %>
	    <%= javascript_include_tag "bootstrap.min.js" %>
	    <%= javascript_include_tag "jquery.scrollTo.min.js" %>
	   
	    <%= javascript_include_tag "jquery.easing.1.3.js" %>
	    
	    <!-- Revolution Responsive jQuery Slider -->
	    <%= javascript_include_tag "jquery.themepunch.revolution.min.js" %>
	    <%= javascript_include_tag "custom.js" %>
	    
    </body>
</html>


